
  <a href="{{ "/" | relURL }}" class="nav-logo">
  <div class="title-logos">
    <img src="/images/radriders-title-inv.png" alt="Stylized Radriders monogram" width="66" height="64" id="monogram" />
    <img src="/images/radriders-hand.svg" alt="RadRiders hand-written logo" id="hand-written">
    </div>
  </a>
  <ul class="nav-menu">
  <li class="nav-item"><a href="{{ "/blog" | relURL }}" class="nav-link">Blog</a></li>
  {{ with .Site.GetPage "/thoughts" }}
    <li class="nav-item"><a href="{{ "/thoughts" | relURL }}" class="nav-link">Thoughts</a></li>
  {{ end }}
  {{ range .Site.Menus.main }}
    <li class="nav-item"><a href="{{ .URL }}" class="nav-link">{{ .Name }}</a></li>
  {{ end }}
</ul>

<div class="hamburger">
  <span class="bar"></span>
  <span class="bar"></span>
  <span class="bar"></span>
</div>