<style>

@import url('https://fonts.googleapis.com/css2?family=Cutive+Mono&family=Chelsea+Market&family=Kanit:wght@600&family=Merriweather&display=swap');

  body {
    font-family: Verdana, sans-serif;
    margin: auto;
    padding: 20px;
    max-width: 720px;
    text-align: left;
    background-color: #fff;
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height: 1.5;
    color: #444;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  strong,
  b {
    color: #222;
  }

  .blog-listing {
    align-self: flex-end;
    font-family: 'Kanit', sans serif;
    font-size: clamp(1rem, 1.2rem + 1vw, 2.3rem);
    color: #FFB703;
    text-shadow: 1px 1px #d62828;
    text-indent: -0.5rem;
    line-height: clamp(1.2rem, 1.2rem + 1vw, 2.2rem);
    padding: 15px 15px 15px 25px;
    vertical-align: bottom;
    background: #333;
    border: 1px solid black;
    border-radius: 6px; 
    margin: 20px 0;
  }

  .blog-description {
    align: right;
    font-size: clamp(0.8rem, 0.8rem + 1vw, 1.4rem);
    padding-top: 5vmin;
    padding-left: 12vmin;
    text-align: right;
    color: #dcf6ff;
    text-shadow: 1px 1px #001829;
  }

  a {
    color: #3273dc;
    text-decoration: none;
    /*color: #ff5e6c;*/
  }

  .title {
    text-decoration: none;
    border: 0;
  }

  .title span {
    font-weight: 400;
  }

  nav a {
    margin-right: 10px;
  }

  textarea {
    width: 100%;
    font-size: 16px;
  }

  input {
    font-size: 16px;
  }

  content {
    line-height: 1.6;
  }

  table {
    width: 100%;
  }

  img {
    max-width: 100%;
  }

  code {
    padding: 2px 5px;
    background-color: #f2f2f2;
  }

  pre code {
    color: #222;
    display: block;
    padding: 20px;
    white-space: pre-wrap;
    font-size: 14px;
  }

  div.highlight code {
    background-color: unset;
    color: initial;
  }

  blockquote {
    border-left: 1px solid #999;
    color: #222;
    padding-left: 20px;
    font-style: italic;
  }

  footer {
    padding: 25px;
    text-align: center;
  }

  .helptext {
    color: #777;
    font-size: small;
  }

  .errorlist {
    color: #eba613;
    font-size: small;
  }



  @media (prefers-color-scheme: dark) {
    body {
      background-color: #333;
      color: #ddd;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    strong,
    b {
      color: #eee;
    }

    a {
      color: #8cc2dd;
    }

    code {
      background-color: #777;
    }

    pre code {
      color: #ddd;
    }

    blockquote {
      color: #ccc;
    }

    textarea,
    input {
      background-color: #252525;
      color: #ddd;
    }

    .helptext {
      color: #aaa;
    }
  }

</style>
