<style>
.blog-image {
  border: 1px solid black;
  border-radius: 5px;
  margin: auto;
}

.title-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  max-width: 720px;
  padding: 0;
}

.title-child {
  padding: 0;
  margin: 0;
}

figure {
  margin: 0;
}

figcaption {
  font-style: italic;
  font-size: 0.9rem;
}
</style>

{{ if .Params.canonicalUrl }}
<link rel="canonical" href="{{ .Params.canonicalUrl }}">
{{ else }}
<link rel="canonical" href="{{ .RelPermalink }}">
{{ end }}