{{ define "main" }}
{{ if eq .Type "blog" }}{{ if not .Params.menu }}
<article>
<h1 class="blog-title">{{ .Title }}</h1>
<h2 class="blog-subtitle">{{ .Params.description }}</h2>
<p class="small-margin">
  <i>
    <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
      {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
    </time>
  </i>
</p>
{{ end }}{{ end }}
<content class="blog-body">
  {{ .Content }}
</content>
<p class="blog-body">
  {{ range (.GetTerms "tags") }}
    <a href="{{ .Permalink }}">#{{ .LinkTitle }}</a>
  {{ end }}
</p>
</article>
{{ end }}
