{{ define "main" }}
{{ if eq .Type "blog" }}{{ if not .Params.menu }}
<article class="blog-container">
<h1 class="blog-title">{{ .Title }}</h1>
<h2 class="blog-subtitle">{{ .Params.description }}</h2>

<div class="blog-header-container">
  <div class="blog-header-image">
    {{ if isset  .Params "author" }}
      {{ $srcUrl := printf "images/%s.png" $.Params.author | safeURL }}
      {{ $src := resources.Get $srcUrl }}
      <img src="{{ $src.RelPermalink }}" 
        alt="{{ .Params.author }}'s Avatar"
        height="{{ mul 2 $src.Height }}"
        width="{{ mul 2 $src.Width }}"
        >
    {{ end }}
  </div>

  <div class="blog-header-text">
    {{- $author := "anonymous" -}}
    {{- if isset .Params "author" -}}
      {{- $author = .Params.author -}}
    {{- end -}}
   Written by: <span class="strong">{{ $author }}</span><br>
   <span class="strong">Created:</span>
    <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
      {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
    </time>
    {{ if isset .Params "lastmod" }}
      <br>
      <span class="strong">Updated:</span>
      <time datetime='{{ .Lastmod.Format "2006-01-02" }}' pubdate>
        {{ .Lastmod.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
      </time>
    {{ end }}
  </div>
  {{ end }}
</div>
<content class="blog-body">
  {{ .Content }}
</content>
<p class="blog-body">
  {{ range (.GetTerms "tags") }}
    <a href="{{ .Permalink }}">#{{ .LinkTitle }}</a>
  {{ end }}
</p>
</article>
{{ end }}
{{ end }}